.cassiaOverlay {
	width: 100vw !important;
	height: 100vh !important;
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	z-index: 10000 !important;
	fill-opacity: 0;
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width: 1;
}

.cassiaOverlay img, .cassiaOverlay svg {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
}